<!doctype html>
<html lang="en">

<head>
    <title>Task 9.2C</title>

    <meta charset="utf-8">
    <meta name="author" content="SIT774">
    <meta name="description" content="Express Sqlite3 Demo">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <!-- CSS only -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <h1>dKin Pizza Order Form</h1>
        <p>Thank you for choosing dKin Pizza! Please fill in the customer &amp; pizza
            order
            details below.</p>

        <form action="/order" method="post">
            <h5 class="bg-primary text-white rounded-sm p-1">Customer Details</h5>
            <div class="form-row">
                <div class="col-sm-6 mb-1">
                    <label for="firstname"><small>First name</small></label>
                    <input type="text" class="form-control" name="firstname"
                        id="firstname" placeholder="Mark" required>
                </div>
                <div class="col-sm-6 mb-1">
                    <label for="surname"><small>Last name</small></label>
                    <input type="text" class="form-control" name="surname"
                        id="surname" placeholder="Smith" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-1">
                    <label for="address"><small>Delivery
                            Address</small></label>
                    <input type="text" class="form-control" name="address"
                        id="address" placeholder="123 Apple St" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-6 mb-1">
                    <label for="city"><small>City</small></label>
                    <input type="text" class="form-control" name="city" id="city"
                        placeholder="Geelong" required>
                </div>
                <div class="col-sm-3 mb-1">
                    <label for="state"><small>State</small></label>
                    <select class="custom-select " name="state" id="state" required>
                        <option selected disabled value="">Choose...</option>
                        <option>VIC</option>
                        <option>NSW</option>
                        <option>ACT</option>
                        <option>QLD</option>
                        <option>SA</option>
                        <option>TAS</option>
                        <option>SA</option>
                        <option>WA</option>
                    </select>
                </div>
                <div class="col-sm-3 mb-1">
                    <label for="postcode"><small>Postcode</small></label>
                    <input type="text" class="form-control" name="postcode"
                        id="postcode" placeholder="3216" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-6 mb-4">
                    <label for="email"><small>Email
                            address</small></label>
                    <input type="text" class="form-control" name="email" id="email"
                        placeholder="your@email.address" required>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="mobile"><small>Mobile number
                        </small></label>
                    <input type="text" class="form-control" name="mobile" id="mobile"
                        placeholder="04xx xxxx" required>
                </div>
            </div>

            <h5 class="bg-primary text-white rounded-sm p-1 mb-3">Pizza Selection
            </h5>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-sm-right"
                    for="pizzaType">Select
                    your pizza:</label>
                <div class="col-sm-6 my-auto">
                    <select class="form-control" name="pizzaType" id="pizzaType"
                        required>
                        <option selected disabled value="">Please select a pizza
                            type....</option>
                        <option value="Cheese Pizza">Cheese Pizza</option>
                        <option value="Veggie Pizza">Veggie Pizza</option>
                        <option value="Marinara Pizza">Marinara Pizza</option>
                        <option value="Super Supreme">Super Supreme</option>
                        <option value="Tropical Pizza">Tropical Pizza</option>
                        <option value="Veggie Supreme">Veggie Supreme</option>
                    </select>
                </div>
                <label class="col-form-label col-sm-2 text-sm-right"
                    for="numberOfPizzas">Number of pizzas:</label>
                <div class="col-sm-2 my-auto">
                    <input type="number" class="form-control" id="numberOfPizzas"
                        value="1" name="numBoxes" min="1" max="99" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right"
                    for="pizzaSizeSelection">Select a size:</label>
                <div class="col-sm-10 my-auto">
                    <div class="form-check form-check-inline" id="pizzaSizeSelection">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="pizzaSize" id="inlineRadio1"
                                value="Extra-Large">
                            <label class="form-check-label"
                                for="inlineRadio1">Extra-Large</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="pizzaSize" id="inlineRadio2" value="Large"
                                checked>
                            <label class="form-check-label"
                                for="inlineRadio2">Large</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="pizzaSize" id="inlineRadio3" value="Medium">
                            <label class="form-check-label"
                                for="inlineRadio3">Medium</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="pizzaSize" id="inlineRadio3" value="Small">
                            <label class="form-check-label"
                                for="inlineRadio3">Small</label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2 text-sm-right"
                    for="pizzaOptions">Special requests:</label>
                <div class="col-sm-10 my-auto">
                    <div class="form-check form-check-inline" id="pizzaOptions">
                        <input class="form-check-input" type="checkbox"
                            name="pizzaOptions" value="Extra Cheese"
                            id="pizzaOptions1">
                        <label class="form-check-label" for="pizzaOptions1">
                            Extra Cheese</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"
                            name="pizzaOptions" value="Roasted Garlic"
                            id="pizzaOptions2">
                        <label class="form-check-label" for="pizzaOptions2">
                            Roasted Garlic</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"
                            name="pizzaOptions" value="Thick Crust"
                            id="pizzaOptions3">
                        <label class="form-check-label" for="pizzaOptions3">
                            Thick Crust</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"
                            name="pizzaOptions" value="No Chilli" id="pizzaOptions4">
                        <label class="form-check-label" for="pizzaOptions4">
                            No Chilli</label>
                    </div>
                </div>
            </div>

             <div class="col-sm-6 mb-4">
                    <label for="pcode"><small>Promotion Code</small></label>
                    <input type="number" class="form-control" name="pcode" id="pcode"
                        placeholder="XXXXXXXXXXXXXXX" required>
                </div>

            <div class="form-group row ">
                <div class="col-sm mx-auto d-flex justify-content-center ">
                    <button type="submit" class="btn btn-primary" fref="/">Submit</button>
                </div>
                <div class="col-sm mx-auto d-flex justify-content-center">
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
 <script src="./action.js"></script>s
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>